<h1> <a href="https://en.wikipedia.org/wiki/Superformula">superformular</a> viewer </h1>
<table>
  <tr>
    <td>m</td>
    <td><input id="m" type="number" value="{{{m}}}"></td>
  </tr>
  <tr>
    <td>n1</td>
    <td><input id="n1" type="number" value="{{{n1}}}"></td>
  </tr>
  <tr>
    <td>n2</td>
    <td><input id="n2" type="number" value="{{{n2}}}"></td>
  </tr>
  <tr>
    <td>n3</td>
    <td><input id="n3" type="number" value="{{{n3}}}"></td>
  </tr>
</table>
<button id="reroll">Reroll</button>